/* body color  */

body{
    background:#deb887;  
}

.header{
    position:fixed;
    top:0;
    width:100%;
}

.title{
    color: red !important;
    text-align: center;
    text-shadow: 4px 2px black;
    font-weight: bold;
    font-size: 40px;
    background:green;
    padding:10px 0;
    margin-top: 0;
   
}
#showcase {
    background: silver;
    width:100%;
    margin-top: 70px;
}
.container{
	margin:auto;
	overflow: hidden;
}

#showcase p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding:10px 0;
    word-spacing: .8em;
}

.about{
    background :cornsilk;
    margin-bottom: 10px;

}

.subtitle{
    color:blue;
    padding:10px 0;
}
h2:hover{       
    color: greenyellow;
}

.about img{
    width:1320px;
}

.about p{
    margin:0 10px;
    text-align: justify;
}

#service{
    background: #faebd7;
    margin-top: 0;
    font-size: 20px;
    
}

.service-tbl a:hover{
   color:green;
}
.table{
    border-collapse: collapse;
    width:400px;
    height:100px;
    text-align: left;
    margin-bottom: 10px;
    border:3px solid black;
}
.table thead{
    font-weight: bold;
    color:red;
    border:3px solid black;
}

.table th, td{
    padding:10px;
}
.table tr:hover{
   background-color:gray;
}
.service-tbl img{
    height:300px;
    width:400px;
    opacity: 0.5;
}
.service-tbl img:hover{
    opacity: 1.0;
}

#service p{
    color:#dc143c;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}
/* ===================================graphics effects ============================================= */
.graphics{
    border:2px solid blue;
    height: 300pt;
    width:400px;
    background:#4682b4;
 /*   background:linear-gradient(to top right, blue, pink, red); */
 /*   background:linear-gradient(160deg, blue, pink, red);  */  /*color position in degree*/
     background:radial-gradient( circle, red 20%, blue 40%,green 55%);  /*circular color position */ 
}


li:first-child{
    color:rgb(77, 142, 196);
}
li:nth-child(2){
    color: violet;
}

/* ============================ pseudo selectors  ============================================ */
/*
#google-link:link{
  color: blue; 
}

#google-link:visited{
   color: red;
}

*/

/* ============================ sibling selectors  ============================================ */
h2 + a{
    color: slateblue;
}

textarea ~ button {
    color:purple;
}

/* ============================ attributes selectors  ============================================ */

img[src^="images"]{
    border:5px solid black;
}

h2[class~=article-subtitle]{
    font-weight: bold;
}

#form input, #form textarea{
    display:block;
    margin:10px;
    width:50%;
    padding: 5px;
}
#form button{
    cursor: pointer;
    background: rgb(53, 53, 212);
    color:white;
    padding:5px;
    margin-left: 10px;
    transition:all 1s ease ;
    
}

#form button:hover{
    color:#000;
    background:#0f0;
    padding:10px 20px;
}

/* ================================================== transition  property ====================================== */

#form-2 input, #form-2 textarea{
    display:block;
    margin:10px;
    width:50%;
    padding: 5px;
}
.submit-btn{
    cursor: pointer;
    background: rgb(53, 53, 212);
    color:white;
    padding:10px;
    margin: 20px 10px;
    border:none;

  /*   transform: rotate(60deg);
   transform:scale(2.5); 
    transform: skewX(45deg);   
    transform: matrix(1, 0.45, 0.45, 1, 70, 40); */

    /* ===== ignore below====== */
   /* transition:background 1s ease-in-out ; */
    
}

.submit-btn:hover{
    color:#000;
    background:#0f0;
    padding:10px 20px;

    transform: translate(50px,30px); 
}
